<div class="container mx-auto mt-8 px-4">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold text-gray-800">My Notes</h1>

    <div class="flex space-x-4">

      <%= link_to "All Notes", notes_path, class: "rounded-md px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white" %>
      <%= link_to "My Notes", notes_path(my_notes: true), class: "rounded-md px-4 py-2 bg-green-600 hover:bg-green-500 text-white" %>
      <%= turbo_frame_tag "new_note" do %>
        <%= link_to "New note", new_note_path, class: "rounded-md px-6 py-3 bg-blue-600 hover:bg-blue-500 text-white block font-medium mx-auto max-w-xs" %>
      <% end %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-500 transition-all", data: { confirm: "Are you sure?" } %>
    </div>
  </div>

  <div id="notes" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @notes.any? %>
      <% @notes.each do |note| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render note %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", note, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <% if note.user_id == current_user.id %>
              <%= link_to "Edit", edit_note_path(note), data: { turbo_frame: "note_modal" }, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-blue-600 hover:bg-blue-500 font-medium cursor-pointer" %>          <%= button_to "Destroy", note, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No notes found.</p>
    <% end %>
  </div>
</div>
<%= turbo_frame_tag "note_modal" do %>
<% end %>