<div class="ring-effect">
  <i style="--clr:#00ff0a;"></i>
  <i style="--clr:#ff0057;"></i>
  <i style="--clr:#fffd44;"></i>

  <div class="login">
    <h2>Sign up</h2>

    <% if flash[:alert] || flash[:notice] || flash[:error] %>
      <p class="text-red-500 text-sm text-center mb-4">
        <%= flash[:alert] || flash[:notice] || flash[:error] %>
      </p>
    <% end %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="inputBx">
        <%= f.email_field :email, placeholder: "Email", required: true %>
      </div>

      <div class="inputBx">
        <%= f.password_field :password, placeholder: "Password", required: true %>
      </div>

      <div class="inputBx">
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", required: true %>
      </div>

      <div class="inputBx">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <div class="links">
      <%= link_to "Log in", new_session_path(resource_name) %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    </div>
  </div>
</div>
